<% provide(:title, 'About') %>
<style>
  #team {
    display: flex;
    justify-content: space-between;
  }
  #team div{
    max-width:180px;
    padding: 5px;
  }
  #partners {
    display: flex;
    justify-content: space-between;
  }
  #partners img{
    text-align:center;
  }
  #partners div{
    text-align:center;
    max-width:180px;
    padding: 5px;
  }
  .mini-hero{
    width:100%;
    height:300px;
    overflow:hidden;
    margin-bottom:40px;
  }
  .mini-hero img{
    width:100%;

  }
  .mini-hero h1{
    width:100%;
    background-color: rgba(255,255,255,0.3);
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .flex > img{
  height:auto;
  }
  .hero-img{
      background-image: URL('assets/bay1.png');
      background-repeat:none;
      background-position: 50% 30%;
      background-size:cover;
      height:200px;
      width:100%;
  }
</style>
<div class="hero-about">
  <div class="mini-hero">
    <h1>About the Idea</h1>
    <div class="hero-img"></div>

  </div>

  <p>
  The Chesapeake Bay is one of our nations most treasured natural resources. It
  supplies Food and water to millions who live in or near it's watershed. But
  we've noticed something, there is trash and polution everywhere caused by our
  disregard for such a fragile ecosystem. Environmentality is built to help
  clean up the bay, starting with one tiny act; Throwing out a piece of litter.</p>
  <h1>How to Play</h1>

  <div class="flex">
<div>
    <img src="assets/mobile-capture.png"/>
  </div>
    <div>
    <img src="assets/mobile-trash-confirm.png"/>
  </div>
    <div>
    <img src="assets/mobile-picrgallery.png"/>
</div>
  </div>

  <p>
  Our concept is simple. When you see a piece
  of litter on the ground, Take out your mobile device and use the
  Environmentality app to snap a picture of it, then throw it away and snap a
  photo of the trashcan you threw it in. When you submit the photos, you get
  points that you can use to compete with friends, save on shopping, dining and more!
  </p>
  <h1>The Team</h1>
  <div id="team">
    <div>
      <img src="assets/Cf_headshot1.png"/>
      <h2 style="text-align:left;">CF Grugan</h2>
      <span>Founder, Web Developer/System Designer, CTO, Marketer, Bay Enthusiast</span>
    </div>
    <div>
      <img src="assets/neil.png"/>
      <h2 style="text-align:left;">Neil Harner</h2>
      <span>Advisor, Strategy consultant, Mentor</span>
    </div>
    <div>
      <img src="assets/default-avatar.png"/>
      <h2 style="text-align:left;">Tom Barker</h2>
      <span>Advisor, Strategy consultant, Mentor, Instructor, Board Member</span>
    </div>
    <div>
      <img src="assets/mb-headshot.jpg"/>
      <h2 style="text-align:left;">Mike Ball</h2>
      <span>Advisor, Strategy consultant, Mentor, Instructor, Board Member</span>
    </div>
    <div>
      <img src="assets/pam-headshot.png"/>
      <h2 style="text-align:left;">Pam Selle</h2>
      <span>Advisor, Strategy consultant, Mentor, Instructor, Board Member</span>
    </div>
  </div>
<h1>Our Partners</h1>
<div id="partners">
  <div>
    <img src="assets/foundation.png"/>
    <h2>Chesapeake Bay Foundation</h2>
    <span><a href="http://www.cbf.org">www.cbf.org</a></span>
  </div>
  <div>
    <img src="assets/clc.png"/>
    <h2>Chesapeake Light Craft</h2>
    <span><a href="http://www.clcboats.com">www.clcboats.com/</a></span>
  </div>
  <div>
    <img src="assets/chesapeakeEnergy.png"/>
    <h2 style="text-align:left;">Chesapeake Energy</h2>
    <span><a href="http://www.chk.com/">www.chk.com</a></span>
  </div>
  <div>
    <img src="assets/hhmarina.png"/>
    <h2 style="text-align:left;">Haven Harbour Marina</h2>
    <span><a href="http://www.havenharbour.com/">www.havenharbour.com</a></span>
  </div>
</div>

  <br />

</div>
