<% provide(:title, 'About') %>
<div class="hero-about">
  <h1>About the Idea</h1>
  <p>
  What engages you to take action when you see something that you know is wrong?
  Most times, doing the right thing is not easy. It’s human nature to believe that
  one action can’t make a difference. Environmentality hopes to encourage people
  to do the right thing by rewarding them for taking little steps toward making
  our world a better place. </p>
  <h1>How to start</h1>
  <p>
  We’re starting with Trash Pic-er. The concept is simple. When you see a piece
  of litter on the ground, Take out your mobile device and use the
  Environmentality app to snap a picture of it, then throw it away and snap a
  photo of the trashcan you threw it in. When you submit the photos, you get
  points that you can use to save on shopping, dining and more!
  </p>
  <br />
  <%= link_to "Get Started", signup_path, class: "btn btn-large btn-primary" %>

</div>
