<div class="center hero-unit">
    <h1>environmentality</h1>

    <h2>
        This is just the beginning
    </h2>

    <%= link_to "Get Started", signup_path, class: "btn btn-large btn-primary" %>
</div>


