<div class="center hero-unit">
    <h1>Keep it Clean</h1>

    <h2>
        There is one resource we can simply not live without; water. Work with others around the world to help create a stable environment that helps to sustain our waterways, and the life that it gives. Begin below.
    </h2>

    <%= link_to "Get Started", signup_path, class: "btn btn-large btn-primary" %>
</div>


