<style>
#loadingScreen{

}
div#loadingScreen > div {
  height:100%;
  width:100%;
  transition: opacity .2s;
}
.icon {
  position: relative;
  margin: 30%;
  width: 88px;
}

#loadingScreen h2 {
  color:#000;
  text-align:center;

}
#screen1 {
  background-image: url("assets/profile.png");
  height:100%;
  width:100%;
  opacity:0;
  transition: opacity .2s;
  top:0;
  left:0;
  position:absolute;

}
#screen2 {
  background-image: url("assets/trash-form.png");
  height:100%;
  width:100%;
  opacity:0;
  transition: opacity .2s;
  top:0;
  left:0;
  position:absolute;

}
#screen3 {
  background-image: url("assets/trash-photo.png");
  height:100%;
  width:100%;
  opacity:0;
  transition: opacity .2s;
  top:0;
  left:0;
  position:absolute;

}
</style>
<div class="iphone">
    <img id="iphoneimg" src="assets/iphoneGold.gif"/>
    <div class="iphoneConents">
      <div id="loadingScreen">
        <img alt="Logo" class="icon" src="/assets/logo-mobile.png">
        <h2>environmentality</h2>
      </div>
      <div id="screen1">
      </div>
      <div id="screen2">
      </div>
      <div id="screen3">
      </div>
    </div>
</div>
<script>
(function(){
  // create a counter and set it to 0
  var i = 0;

  //select containers to be cycled through from the dom.
  var loadingScreen = $("#loadingScreen"),
  screen1 = $("#screen1")
  screen2 = $("#screen2")
  screen3 = $("#screen3");

  // array of dom containers to be used by imgLoop below
  var imgArray = [loadingScreen, screen1, screen2, screen3];


  // create a loop of images using dom containers
  // using css opacity property to cycle through screens
  function imgLoop () {
     setTimeout(function () {
       if (i < imgArray.length-1 ){
         console.log(imgArray[i] + i);
         imgArray[i].css({ opacity: 0 });
         imgArray[i].css({ opacity: 0 });
         imgArray[i+1].css({ opacity: 1 });
         i++;
         imgLoop();
       } else {
         imgArray[i].css({ opacity: 0 });
         i = 0;
         imgArray[0].css({ opacity: 1 });
         imgLoop();
       }
     }, 5000)

  }

  // animations that run at the beginning
  // phone appear
  // screen turns on
  setTimeout(function(){
      $('.iphone').addClass('move');
  }, 800)
  setTimeout(function(){
      $('#iphoneimg').addClass('resize');
  }, 800)
  setTimeout(function(){
      $('.iphoneConents').addClass('move');
      imgLoop();
  }, 2000)
})();
</script>
