<footer class="footer">
    <small>
        <a href="http://www.charlesgrugan.com/environmentality">environmentality</a>
        by CF Grugan
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://www.charlesgrugan.com/">News</a></li>
        </ul>
    </nav>
</footer>

